body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  background: #d64f65;

  /* box-sizing: content-box; */
}
h1 {
  font-family: "Nerko One", cursive;
  color: white;
  letter-spacing: 1px;
  text-align: center;
  font-size: 4.2em;
  margin-top: 0;
}
.game-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.fill {
  position: relative;
  /* height: 17vh; */
  cursor: pointer;
}

.empty {
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: white;
  width: 12vh;
}
.fill,
.empty {
  height: 15vh;
}

.hold {
  border: solid #ccc 4px;
}

.hovered {
  background-color: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}

.puzzle-place,
.puzzle-pieces {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.puzzle-place {
  margin-bottom: 3em;
}

.gif {
  height: 100%;
}

#btn {
  margin: 1em;
  width: 100vw;
  display: flex;

  justify-content: center;
}
#shuffler {
  border: white 2px solid;
  border-radius: 1em;
  padding: 1em;
  background-color: #8dc989;
  font-family: "Yantramanav", sans-serif;
  font-weight: 700;
  color: white;
  outline: 0;
  font-size: 1em;
}

footer {
  text-align: center;
  color: #911f32;
  opacity: 0.5;
  font-family: "Yantramanav", sans-serif;
}

a {
  color: #d4b4bb;
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 4.2em;
  }
  .game-container {
    flex-direction: row;
  }
  .fill,
  .empty {
    height: 17vh;
    width: 13.5vh;
  }
  #btn {
    margin: 1em;
  }
  .puzzle-place,
  .puzzle-pieces {
    width: fit-content;
  }
  .puzzle-place {
    margin-bottom: 0;
  }
  .game-over {
    flex-direction: row;
  }
}
