body {
  background-color: darksalmon;
}

.fill {
  /* background-image: url(./puzzle-pieces/maxresdefault.jpg); */
  position: relative;
  height: 150px;
  width: 150px;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.empty {
  display: inline-block;
  height: 160px;
  width: 160px;
  border: 1px salmon solid;
  background-color: white;
}

.hold {
  border: solid #ccc 4px;
}

.hovered {
  background-color: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}

.puzzle-place,
.puzzle-pieces {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
}
